<app-header></app-header>
<div class="wrapper">
  <div class="search-header">
    <div class="title">
      <h2>Table POC</h2>
    </div>
    <div class="wrap">
      <div class="search">
        <form [formGroup]="formGroup">
          <input
            type="text"
            class="form-control searchTerm"
            name="searchString"
            placeholder="Search..."
            formControlName="filter"
          />
        </form>
      </div>
    </div>
  </div>
  <div class="btn-wrapper">
    <button
      class="btn"
      (click)="exportedexcel()">
      Export
    </button>
  </div>
  <div class="table-wrapper">
    <table class="table fixed_header" id="excel-table">
      <thead> 
        <tr>
          <th (click)="sortTable(0)">Authority Subject</th>
          <th (click)="sortTable(1)">Organzational Unit</th>
          <th (click)="sortTable(2)">Position 1</th>
          <th (click)="sortTable(3)">Position 2</th>
          <th (click)="sortTable(4)">Position 3</th>
          <th (click)="sortTable(5)">Position 4</th>
        </tr>
    </thead>
    <tbody>
      <tr *ngFor="let value of values$ | async">
        <td>{{ value.subject }}</td>
        <td>{{ value.unit }}</td>
        <td>{{ value.position1 }}</td>
        <td>{{ value.position2 }}</td>
        <td>{{ value.position3 }}</td>
        <td>{{ value.position4 }}</td>
      </tr>
    </tbody>
    </table>
  </div>
</div>