<app-header></app-header>
<div class="wrapper">
  <div class="search-header">
    <div class="title">
      <h2>Table POC</h2>
    </div>
    <div class="wrap">
      <div class="search">
        <form [formGroup]="formGroup">
          <input
            type="text"
            class="form-control searchTerm"
            name="searchString"
            placeholder="Search..."
            formControlName="filter"
          />
        </form>
      </div>
    </div>
  </div>
  <div class="btn-wrapper">
    <!-- <button
      class="btn"
      (click)="exportedexcel()">
      Export
    </button> -->
    <button
      class="btn"
      (click)="XLExport('excel-table')">
    Export
  </button>
  </div>
  <div class="table-wrapper">
    <table class="table fixed_header" id="excel-table">
      <thead> 
        <tr>
          <th (click)="sortTable(0)" style="height: 50px; background-color: #f8f8f8; text-align: left; border: 0;">Authority Subject</th>
          <th (click)="sortTable(1)" style="height: 50px; background-color: #f8f8f8; text-align: left; border: 0;">Organzational Unit</th>
          <th (click)="sortTable(2)" style="height: 50px; background-color: #f8f8f8; text-align: left; border: 0;">Position 1</th>
          <th (click)="sortTable(3)" style="height: 50px; background-color: #f8f8f8; text-align: left; border: 0;">Position 2</th>
          <th (click)="sortTable(4)" style="height: 50px; background-color: #f8f8f8; text-align: left; border: 0;">Position 3</th>
          <th (click)="sortTable(5)" style="height: 50px; background-color: #f8f8f8; text-align: left; border: 0;">Position 4</th>
        </tr>
    </thead>
    <tbody>
      <tr *ngFor="let value of values$ | async">
        <td style="height: 40px; text-align: left; vertical-align: middle; border: 0; border-bottom: 1px solid #cccbcc">{{ value.subject }}</td>
        <td style="height: 40px; text-align: left; vertical-align: middle; border: 0; border-bottom: 1px solid #cccbcc">{{ value.unit }}</td>
        <td style="height: 40px; text-align: left; vertical-align: middle; border: 0; border-bottom: 1px solid #cccbcc">{{ value.position1 }}</td>
        <td style="height: 40px; text-align: left; vertical-align: middle; border: 0; border-bottom: 1px solid #cccbcc">{{ value.position2 }}</td>
        <td style="height: 40px; text-align: left; vertical-align: middle; border: 0; border-bottom: 1px solid #cccbcc">{{ value.position3 }}</td>
        <td style="height: 40px; text-align: left; vertical-align: middle; border: 0; border-bottom: 1px solid #cccbcc">{{ value.position4 }}</td>
      </tr>
    </tbody>
    </table>
  </div>
</div>